// Place all the styles related to the todo controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.overdue {
  a{
    font-size: .6em;
  }
}

.todo {
  a{
    font-size: .6em;
  }
}